In [1]:
import pandas as pd
import numpy as np

In [4]:
df_s = pd.read_csv('sefer_unite_df.csv')
df_g = pd.read_csv('pandan_projects_jt_Goberman_parsed.csv')

In [23]:
df_s.head()

,id,jewish_text,rus_transl,folder,im_name,_merge
0,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001,both
1,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001_1,both
2,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002,both
3,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_1,both
4,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_3,both

In [45]:
df_g.tail()

,id,jewish_text,rus_transl,folder,im_name,source
1363,992992000401_38,-,NaN,узкая ч2/992992000401,38,Гоберман
1364,992992000401_39,-,NaN,узкая ч2/992992000401,39,Гоберман
1365,992992000401_40,-,NaN,узкая ч2/992992000401,40,Гоберман
1366,992992000401_41,-,NaN,узкая ч2/992992000401,41,Гоберман
1367,992992000401_42,-,NaN,узкая ч2/992992000401,42,Гоберман

In [33]:
#добавляю источник базы данных к первичным датасетам

df_s['source'] = 'Сэфер'
df_g['source'] = 'Гоберман'

In [37]:
#формирую общую базу
frames = [df_s, df_g]
result = pd.concat(frames)

In [40]:
result.head()

,id,jewish_text,rus_transl,folder,im_name,_merge,source
0,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001,both,Сэфер
1,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001_1,both,Сэфер
2,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002,both,Сэфер
3,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_1,both,Сэфер
4,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_3,both,Сэфер

In [44]:
result

,id,jewish_text,rus_transl,folder,im_name,_merge,source
0,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001,both,Сэфер
1,ORG001,פנ\n איש הר‘\n יעקב בהר‘\n משה מזרחי\n שנפטר י...,"Здесь похоронен мужчина, р. Яаков, сын р. М...",Оргеев,ORG001_1,both,Сэфер
2,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002,both,Сэфер
3,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_1,both,Сэфер
4,ORG002,פנ\n איש חשוב\n הרר יצחק\n אייזק בהרר\n יצחק ה...,Здесь похоронен почтенный человек р. Ицхак ...,Оргеев,ORG002_3,both,Сэфер
...,...,...,...,...,...,...,...
1363,992992000401_38,-,NaN,узкая ч2/992992000401,38,NaN,Гоберман
1364,992992000401_39,-,NaN,узкая ч2/992992000401,39,NaN,Гоберман
1365,992992000401_40,-,NaN,узкая ч2/992992000401,40,NaN,Гоберман
1366,992992000401_41,-,NaN,узкая ч2/992992000401,41,NaN,Гоберман
1367,992992000401_42,-,NaN,узкая ч2/992992000401,42,NaN,Гоберман

In [43]:
result.to_csv('../JT/result.csv')